extends ../layout

block content
	h3
		Make Payment
	h4
		project.name
	div(class='col-sm-3')
		h6(style='display:inline-block')Payment Amount
		div(class='form-group' style='display:inline-block')
		input(type='text' value=' placeholder=' class='form-control')
	div(type='button' class='btn btn-success btn-simple')Make Payment