extends ../layout

block content
  .page-header
    h3 Sign up
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
        label.col-sm-3.control-label(for='Name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus)
    .form-group
        label.col-sm-3.control-label(for='email') Email
        .col-sm-7
            input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus)
    .form-group
        label.col-sm-3.control-label(for='bank') Bank
        .col-sm-7
          input.form-control(type='text', name='bank', id='bank', placeholder='Bank Account Number', autofocus)
    .form-group
        label.col-sm-3.control-label(for='lender') Lender
        .col-sm-1
            input.form-control(type='checkbox', name='lender')
        label.col-sm-1.control-label(for='borrower') Borrower
        .col-sm-1
            input.form-control(type='checkbox', name='borrower')
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
