footer
  .container.text-center
    p.pull-left © 2016 Dhruv Gupta, Allen Cheng, Rohan Pandit, Rashid Lasker All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/dhruv4/capitalgains') GitHub Project
