link(rel='stylesheet', href='/css/demo.css')
link(rel='stylesheet', href='/css/gsdk-base.css')
link(rel='stylesheet', href='/css/lib/bootstrap3/css/bootstrap.min.css')

script(src='/js/lib/jquery-2.2.0.min.js')
script(src='/js/lib/jquery-ui-1.10.4.custom.min.js')
script(src='/js/get-shit-done.js')
script(src='/js/lib/bootstrap.min.js')

include index.html